<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="app" type="FlutterRunConfigurationType" factoryName="Flutter">
    <option name="additionalArgs" value="--cache-sksl --purge-persistent-cache --dart-define=PUBLIC_ACCESS_TOKEN=$PUBLIC_ACCESS_TOKEN$" />
    <option name="filePath" value="$PROJECT_DIR$/packages/app/lib/main.dart" />
    <method v="2" />
  </configuration>
</component>