/*
  Hollybike Back-office web application
  Made by MacaronFR (Denis TURBIEZ) and enzoSoa (Enzo SOARES)
*/
.bg-logo {
	background-position: center;
	background-repeat: repeat-x;
	background-size: 20%;
	background-image: url('/wallpaper.jpg');
}