.button {
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	border: 2px solid var(--border-button);
	background-color: transparent;
	transition: transform 150ms ease-in-out,
		background-color 150ms ease-in-out;
	cursor: pointer;
}

.button:hover {
	transform: scale(105%);
	background-color: var(--bg-hover);
	color: var(--text-hover);
}

.button.reversed {
	border-color: var(--border-button-reversed);
	color: var(--text-reversed);
	background-color: var(--bg-button-reversed);
}

.button.reversed:hover {
	color: var(--text-reversed-hover);
	background-color: var(--bg-button-reversed-hover);
}